.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}
.empty {
	height: 180px;
}
.slider {
	width: 100%;
	height: 480px;
	background-image: url("C:/Users/Горденя/Desktop/BOOTSTRAP 3/Bologna/Bologna/bologna__psd/bolodna__psd/img/sliderpng.png");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.slider__text {
	text-align: center;
	color: white;
	font-size: 50px;
	position: absolute;
	bottom: 20px;
	left: 25%;
}
.life__box {
	position: absolute;
	top: 300px;
	left: 48%;
	background-color: red;
	padding: 7px 13px;
}


/* CONTENT*/

.content {
	width: 80%;
	min-height: 500px;
	margin: 0 auto;
	//background: red;
	padding-top: 50px;
}
.content__left {
	width: 70%;
	display: inline-block;
	border-bottom: 2px dashed #d7d7d7;
}
.content__left .content__sidebar {
	display: inline-block;
}
.rect {
	width: 90%;
	margin: 0 auto;
	display: block;
	position: relative;
}
.left__box-one {
	display: inline-block;
	width: 50%;
	//background: blue;
	text-align: center;
	vertical-align: top;
}
.box__one {
	width: 100%;
	padding-bottom: 90px;
}
.share {
	display: block;
	position: absolute;
	z-index: 999;
	left: 12%;
	bottom: 44%;
}
.comment {
	z-index: 999;
	display: block;
	position: absolute;
	left: 12%;
	z-index: 999;
	bottom: 42%;
}
.text__best {
	width: 80%;
	margin: 0 auto;
	font-size: 24px;
	font-weight: bold;
	padding-top: 20px;

}
.text__fashion {
	width: 30%;
	margin: 0 auto;
	color: #ceb4b4;
	padding-top: 20px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ceb4b4;
	font-style: oblique;
}
.text__lorem {
	width: 85%;
	margin: 0 auto;
	color: #ceb4b4;
	padding-top: 20px;
}
.text__date {
	width: 40%;
	margin: 0 auto;
	padding-top: 30px;
}

/*left__box-two*/
.left__box-two {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	//background: yellow;
}

.box__two {
	width: 100%;
	padding-bottom: 90px;
	text-align: center;
}
.comment {
	z-index: 999;
	display: block;
	position: absolute;
	left: 12%;
	z-index: 999;
	bottom: 42%;
}
.text__best {
	width: 80%;
	margin: 0 auto;
	font-size: 24px;
	font-weight: bold;
	padding-top: 20px;

}

/*CONTENT SIDEBAR*/
.content__sidebar {
	display: inline-block;
	vertical-align: top;
	width: 29%;
	//background: green;
}
.box__sidebar {
	width: 100%;
	padding-bottom: 50px;
}
.text__about {
	margin: 0 0 0 5%;
	width: 30%;
	color: #ceb4b4;
	padding-top: 20px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ceb4b4;
}
.text__name {
	margin: 0 0 0 5%;
	width: 95%;
	font-size: 24px;
	font-weight: bold;
	padding-top: 20px;
}
.text__loremed {
	margin: 0 0 0 5%;
	width: 95%;
	color: #ceb4b4;
	padding-top: 20px;
}
.follow {
	width: 80%;
	margin: 0 0 0 5%;
	padding-top: 30px;
}
.follow__icons {
	display: inline-block;
}
.follow__text {
	display: inline-block;
	color: #ceb4b4;
	padding: 0 8px 8px 0;
}
.insta, .birds, .facebook {
	margin-left:10px;
	cursor: pointer;
}
.insta:hover {
	background-color: brown;
}
.birds:hover {
	background-color: yellow;
}
.facebook:hover {
	background-color: blue;
}


.text__subscribe {
	margin: 0 0 0 10%;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
}
.input__subscribe {
	height: 40px;
	width: 180px;
}
.submit__subscribe {
	height: 40px;
	width: 90px;
	margin-left: -5px;
	padding: 0;
	background-color: #290f0f;
	color: #ffe5e5;
	border: none;
}
input[placeholder] {
	padding-left:20px;
}

/* сдвиг placeholder-а вправо при фокусе*/

.input2::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.8s ease;}
.input2::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.8s ease;}
.input2:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.8s ease;}
.input2:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.8s ease;}
.input2:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.8s ease;}
.input2:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.8s ease;}
.input2:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.8s ease;}
.input2:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.8s ease;}
.hr {
	padding-bottom: 10px;
	border-bottom: 1px solid #ceb4b4;
}
.text__posts {
	margin: 0 0 0 5%;
	width: 15%;
	color: #ceb4b4;
	padding-top: 30px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ceb4b4;
	font-style: oblique;
}
.text__post {
	margin: 0 0 0 5%;
	width: 17%;
	color: #ceb4b4;
	padding-top: 30px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ceb4b4;
	font-style: oblique;
}
.font {
	font-size: 15.96px;
	line-height: 150%;
}
.left {
	margin: 0 0 0 5%;
	width: 95%;
	padding-top: 30px;
	padding-bottom: 10px;
}
.insta__img1 {
	display: block;
	float: left;
	width: 45%;
	margin: 0 0 0 5%;
}
.insta__img2 {
	display: block;
	float: left;
	width: 45%;
	margin: 0 5% 0 0;
}
.clearfix {
	content: " ";
  	clear: both;
  	display: table;
}
.top {
	padding-top: 30px;
}
.categories {
	padding-top: 20px;
	width: 90%;
	margin: 0 5%;
}
.categories li {
	display: block;
	width: 100%;
}
.categories li a{
	display: block;
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	cursor: pointer;
	color: black;
}	
.categories li:nth-child(odd):hover{
	background-color: #f7f7f7;
}
.categories li:nth-child(even):hover{
	background-color: white;
	border: 2px dashed red;
}
.categories li:nth-child(even) {
	background-color: #f7f7f7;
	border: 2px dashed #eeeeee;
}

.blog__img, .text__tags {
	width: 90%;
	margin: 0 5%;
}

.slash {
	color: #d2d2d2;
	font-size: 18px;
}
.reload {
	padding-top: 40px;
	width: 31%;
	margin: 0 auto;
}
.reload__img {
	border: 1px solid #f6f6f6;
	padding: 6px;
	border-radius: 50%;
}
.gorizontall__stick {
	width: 100%;
	margin: 0 auto;
}
.center {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.shape {
	width: 30%;
	display: block;
	margin: 0 auto;
	background: black;
}
.ellipse {
	display: block;
	margin: 0 auto;
	margin-top: -13px;
}

.wrapp__insta {
	width: 100%;
	margin:0;
	padding: 0;
}
.insta__first-column, .insta__last-column  {
	width: 49.85%;
	display: inline-block;
}
.insta__one-column, .insta__two-column {
	display: inline-block;
	vertical-align: top;
}
.insta__one-column {
	width: 33.2%;
}
.insta__two-column {
	width: 66.2%;
}
.INSTA1, 
.INSTA3 {
	width: 100%;
	display: block;
}
.INSTA2 {
	width: 100%;
}

.insta__three-column, .insta__four-column {
	display: inline-block;
	vertical-align: top;
	margin:0;
	padding: 0;
}
.insta__three-column {
	width: 66.3%;
}
.insta__four-column {
	width: 32.7%;
}
.INSTA4 {
	width: 100%;
	display: block;
}
.INSTA6, .INSTA7 {
	width: 49.55%;
}
.INSTA5, .INSTA8 {
	width: 100%;
	display: block;
}
.INSTA1,
.INSTA2,
.INSTA3,
.INSTA4,
.INSTA5,
.INSTA6,
.INSTA7,
.INSTA8 {
	height: auto;
}
.INSTA5 {
	min-height: 209px;
}