@import url(reset.css);
@import url(header.css);
@import url(article.css);
@import url(footer.css);

html, body {
	width: 100%;
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
}
